<div class="row justify-content-center">
    <div class="col-4">
        <h2>Login</h2>
        <p><small>Not a member? <a href="/signup">Sign up</a></small></p>
        <hr>
        <%= form_with controller: :session, url: login_path do |form| %>
        <%= form.text_field :email, class: "form-control", placeholder: "Email" %><br>
        <%= form.password_field :password, class: "form-control", placeholder: "Password" %><br>
        <%= form.submit class: "btn btn-primary"%>
        <% end %>
    </div>
</div>