<div class="row justify-content-center">
    <div class="col-4">
        <h2>Sign Up</h2>
        <p><small>Already a member? <a href="/login">Login here</a></small></p>
        <hr>
        <%= render partial: "form" %>
    </div>
</div>